<h1> Timmy's Story Preview</h1>
<div class="book-container">
  <div class="flipper">
      <div class="current left page red ontop">1</div>
      <div class="current right page blue ontop">2</div>
  </div>
</div>
  <div class="btns">
      <button class="prev"> < </button>
      <button class="next"> > </button>
  </div>


<div>
 <%= @content_with_name%>
</div>

