<h1> Preview Book </h1>
<h2>Timmy's Story</h2>
  <div class="book">
      <div class="current left page red ontop">1</div>
      <div class="current right page blue ontop">2</div>
  </div>

  <div class="btns">
      <button class="prev"> < </button>
      <button class="next"> > </button>
  </div>
