// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #82D0E2;
$yellow: #FDB631;
$orange: #E67E22;
// $green: #32B796;
$green: #B4D682;
$gray: #000000;
$light-gray: #F4F4F4;


// Pages color theme
$index_color: #B4D682;
$show_color: #F0BD68;
$home_color: #82D0E2;
$dashboard_color: #F0BD68;

.index-color {
  background-color: $blue;
}

.show-color {
  background-color: $show_color;
}

.home-color {
  background-color: $home_color;
}

.dashboard-color {
  background-color: $dashboard_color;
}

.checkout-color {
  background-color: $dashboard_color;
}
