

.carrousel-container {
    position: relative;
    white-space: nowrap;
    overflow-x: hidden;
    height: 28em;
    width: 65em;
    margin: auto;
}

.carrousel-wrapper{
  display: flex;
  height: 400px;
}
.inner {
  position: absolute;
  transition: transform 0.3s ease;
}
.card-caroussel {
  z-index: -1;
  font-family: sans-serif;
  line-height: 20em;
  width: 10em;
  height: 17em;
  //filter: brightness(60%);
 // background: rgba(0,0,0,0.8);
  background-size: cover;
  color: white;
  border-radius: 6px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  display: inline-block;
  margin: 8px 0.05em;
  position: relative;
  bottom: -1.2em;
  transition: transform 0.3s ease, background 0.2s ease, box-shadow 0.2s ease;
  &:hover {
    //filter: brightness(90%);
    -webkit-filter: brightness(.45);
   filter: brightness(.45);
 }
}
.cocktail-name {
  filter: brightness(90%);
  text-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(0, 0, 0, 0.03);


}

.card-caroussel[data-scale="0"],
.card-caroussel[data-scale="4"] {
  transform: scale(1);
  z-index: 0;
}
.card-caroussel[data-scale="1"],
.card-caroussel[data-scale="3"] {
  transform: scale(1.1);
  z-index: 1;
}
.card-caroussel[data-scale="2"] {
  transform: scale(1.2);
  z-index: 2;
}

.carrousel-btn {
  // position: absolute;
  // top: 0;
  cursor: pointer;
  // background: rgba(255,255,255,0.1);
  padding: 0 2em;
  line-height: 500px;
  transition: background 0.3s ease;
  svg {
    fill: #e2e2e2;
    width: 3em;
    height: 3em;
  }
  &.next {
    right: 0;
  }
  &.prev {
    left: 0;
  }
  &:hover {
    // background: rgba(255,255,255,0.2);
  }
}

