.flipper{
  width:700px;
  height:500px;
  position:relative;
  perspective:1500px;
}

.preview-title {
  margin-top: 80px;
}
.book-container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
.flipper .page{
  position:absolute;
  top:0;width:50%;
  height:100%;
  color:#fff;
  font-size:20px;
  text-align: center;
  transition:all .8s ease;
  transform-style: preserve-3d;
  transform:rotateY(0deg);
  backface-visibility:hidden;z-index:1;
  border-radius: 2px;
}
.flipper .page.left{
  left:0;
  transform-origin:right;
}
.flipper .page.right{
  right:0;
  transform-origin:left;
}
.flipper .page.current{
  z-index:2;
}

.flipper .current.right.page.turn{
  transform:rotateY(-180deg);
}
.flipper .current.left.page.turn{
  transform:rotateY(180deg);
}

.flipper .next.left.page{
  transform:rotateY(180deg);
}
.flipper .next.left.page.turn{
  transform:rotateY(0deg);
}
.flipper .next.right.page{

}

.flipper .prev.right.page{
  transform:rotateY(-180deg);
}
.flipper .prev.right.page.turn{
  transform:rotateY(0deg);
}
.flipper .prev.left.page{

}

.flipper .page.red{
  background:orange;
}
.flipper .page.blue{
  background:pink;
}
.flipper .page.green{
  background:orange;
}
.flipper .page.orange{
  background:pink;
}
.flipper .page.maroon{
  background:orange;
}
.flipper .page.pink{
  background:pink;
}
.flipper .page.white{
  background:white;
}

.payment-button {
  margin-top: 86px;
  display: flex;
  justify-content: flex-end;
}

.flipper-title {
  display: flex;
  justify-content: center;
  h1 {
    margin-right: 33px;
  }
}

.btns{
    opacity: 0;
    text-align: center;
    position: absolute;
    z-index: 100;
    height: 140px;
    margin: 20px 0;
}
.btns button{
  height: 460px;
  font-size: 20px;
  width: 320px;
  margin: 0 10px;
  padding: 10px 30px;
}
