.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  bottom: 0 !important;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}

.list-footer {
  p {
    margin: 0;
    font-family: 'Gaegu';
    font-size: 23px;
    font-weight: 300;
    padding-right: 20px;
    color: #757A77;
  }

  a {
    font-family: 'Gaegu';
    font-size: 23px;
    font-weight: 300;
    padding-right: 20px;
    color: #757A77;
  }

  a:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}

.logo-footer {
  fill: blue;
}


.footer_bottom{
  width: 100%;
  margin-top: -80px;
  z-index: 999;
  margin-bottom: -25px;

}

.logo-footer{
  color: blue;
  padding-bottom: 20px;

}
