.wrapper {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

body {
  background-color: aliceblue;
  margin-top: 70px;
}

.text-white{
  color: white !important;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}


