.landing-bottom {

  background-color: #F0BD68;
  position: relative;
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;


  h1 {
    color: white;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
  }
  p {
      color: #565656;
      font-size: 14px;
      font-family: 'Nunito', sans-serif;
      font-size: 20px;
    }
  }

.carrousel-container{

    .book-carrousel{
    color: white;
  }
}

.btn-carrousel {
  color: white;
  border: 1px solid white;
  padding: 8px 18px;
  border-radius: 10px;
  font-weight: lighter;
}
.btn-carrousel:hover {
  opacity: 0.6;
  text-decoration: none;
  background-color: white;
  color: orange;
}
  .btn-carrousel:focus {
  background-color: white;
  color: orange;
  text-decoration: none;
}



.carrousel_filter{
  padding: 20px;
}

.home-description{
  margin-bottom: 16px;
}
