.intro {

  background-color: aliceblue;
  position: relative;
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;


  h1 {
    color: #9FB96E;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
  }
  p {
      color: #565656;
      font-size: 14px;
      font-family: 'Nunito', sans-serif;
      font-size: 20px;
    }


    .steps {
      display: flex;
      justify-content: center;
    }

  .step_by_step {
    margin: 10px;
    padding: 30px;
    border: 1px solid #d8dee9;
    border-radius: 5px;
    flex: 0 1 20%;
    h1 {
      color: black;
      font-size: 20px;
      font-family: 'Montserrat', sans-serif;
      color: #565656;
    }
    p {
      color: black;
      font-size: 15px;
      font-family: 'Nunito', sans-serif;
      color: #565656;
    }
  }

  // .steps{
  //   max-width: 600px;
  // }
}



.intro-icons {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border-style:solid;
  border-width:5px;
}

.cloud{
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.last{
  z-index: 99;
}

.home-description{
  margin-top: 30px;

}
