.site-content-index {
  padding-top: 2px;
  height: 100%;
  width: 100%;
  margin-top: 7%;
  // background-color: white;
  // background-color: #82D0E2;
  background-color: #B4D682;
  font-size: 15px;
  margin-bottom: -50px;
  margin-top: -4%;
  color: white;
}


.wrapper-search {
  background: #B4D682;
  margin-bottom: 50px;
}

.container-search {
  margin: 0;
}

.header {
  margin-top: 55px;

  .fas {
    padding-right: 10px;
  }

  h2 {
    font-size: 22px;
    line-height: 1.3;
  }

  p {
    font-family: 'Gaegu';
    font-size: 32px;
    margin-bottom: 25px;
  }
}

.single-card {
  a {
  text-decoration: none;
  }
}

.thumbnail:hover {
  transition: 0.2s;
}

.thumbnail {
  display: block;
  background-color: white;
  border: none;
  padding: 0px;
  border-radius: 6px;
  transition: border 0.3s ease-in-out;
  height: 420px;
  margin-bottom: 60px;
  width: 90%;
  box-shadow: 0 4px 7px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);


  a {
    font-style: $headings-font-family;
    color: black;
    text-decoration: none;
  }

  p.name {
    visibility: hidden;
    position: absolute;
    width: 86%;
    top: 30%;
    font-size: 30px;
    font-family: 'Gaegu';
    padding: 11px;
    text-align: center;
    color: white;
  }

  &:hover p.name {
    visibility: visible;
    z-index: 9999;
  }

  .caption {
    padding: 5px;


    h3 {
    font-style: $headings-font-family;
    font-size: 19px;
    color: black;
    text-decoration: none;
    margin-top: 0px;
    padding-left: 5px;
    }
  }



  &:hover .photo-index {
   -webkit-filter: brightness(.45);
   filter: brightness(.45);
  }
}


.age-stars-price-index {
  display: flex;
  justify-content: space-between;
  padding: 2px 10px;

  p {
    font-family: 'Gaegu';
    font-weight: 500;
    font-size: 22px;
    color: #757A77;
  }

  .dislike {
    margin-top: 6px;
    color: gray;
    opacity: 0.5;
    font-size: 20px;
  }

  .dislike:hover {
    margin-top: 6px;
    opacity: 0.7;
    color: #C7374B;
  }

  .like {
    margin-top: 6px;
    color: #C7374B;
    opacity: 1;
    font-size: 20px;
  }

  .like:hover {
    margin-top:5px;
    color: gray;
    opacity: 0.5;
  }
}


.photo-index {


  display: block;
  max-width: 100%;
  background-size: cover;
  height: 375px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px 6px 0px 0px;
  opacity: 0.9;
  object-fit: cover;
  min-width: 100%;
}

.search-filters {
    display: flex;
    justify-content: flex-start;
    width: 75%;

    // div {
    //   flex: 1;
    // }
}

.slidecontainer {
  margin-left: 33px;
  text-align: center;
}

.slider {
    -webkit-appearance: none;
    width: 40%;
    height: 15px;
    border-radius: 5px;
    background: white;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 7%;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fdbd6a;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #B4D682;
    border-color: white;
    cursor: pointer;
}

.index-search {
  // background-color: white;
  padding: 2.5% 0%;
  // padding-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  // background-color: #82D0E2;
  background-color: #B4D682;
  flex-direction: column;
  margin-top: -19px;
  margin-left: -9px;
  margin-bottom: 20px;
}

.choices_input {
  display: none;
}

.apply-btn {
  background-color: #fdbd6a;
  border-color: #fdbd6a;
  padding: 6px 20px;
  height: 39px;
  border-radius: 6.5px;
  margin-left: 12px;
  font-family: 'Gaegu';
  font-size: 18px;
}
.apply-btn:hover {
  background-color: white;
  color: #fdbd6a;
  border-color: white;
}



.search-results {

  margin-bottom: -5px;
  margin-top: -49px;
  opacity: 0.75;
  padding-left: 10px;
  font-size: 14px;
}

.search-button-index {
    .search-form {
    font-size: 14px;
    border-radius: 6.5px;
    text-align: left;
    background-color: #B4D682;
    color: white !important;
    border-color: white;
    width: 100%;
    margin-bottom: 4%;
    margin-left: 4%;
    padding: 0px 20px;
    height: 39px;
    -webkit-appearance: none;
    border: 1px solid white;

    &::placeholder {
      color: white;
    }

    &:focus {
      border-color: rgba(255, 255, 255, 0.5);
      box-shadow: none;
    }
  }
}

// .row-index {
//   margin-top: 25px;

// }

// .book-name-index {
//     text-align: center;
//     visibility: hidden;
//   }

//   .thumbnail:hover .book-name-index {
//   visibility: visible;
//   opacity: 1;
// }
.choices {
  width: 170px;
  margin-left: 32px;

}



