


.header {
  margin: 90px 15% 100px 15%;
  // background-color: #F0BD68;
  text-align: center;

  .fas {
    padding-right: 10px;
  }

  h2 {
    font-size: 30px;
    line-height: 1.8;
  }
}

.single-card {
  a {
  text-decoration: none;
  }
}

.thumbnail:hover {
  box-shadow: 0 4px 7px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
  transition: 0.2s;
}

.thumbnail {
  display: block;
  background-color: white;
  border: none;
  padding: 0px;
  border-radius: 6px;
  transition: border 0.3s ease-in-out;
  height: 341px;
  margin-bottom: 60px;
  width: 100%;


  a {
    font-style: $headings-font-family;
    color: black;
    text-decoration: none;
  }

  p.name {
    visibility: hidden;
    position: absolute;
    width: 86%;
    top: 30%;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    padding: 11px;
    text-align: center;
    color: white;
  }

  &:hover p.name {
    visibility: visible;
    z-index: 9999;
  }

  .caption {
    padding: 5px;


    h3 {
    font-style: $headings-font-family;
    font-size: 19px;
    color: black;
    text-decoration: none;
    margin-top: 0px;
    padding-left: 5px;
    }
  }



  &:hover .photo-index {
   -webkit-filter: brightness(.45);
   filter: brightness(.45);
  }
}


.age-stars-price-index {
  display: flex;
  justify-content: space-between;
  padding: 5px;

  p {
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    font-weight: lighter;
  }
}


.photo-index {

  display: block;
  max-width: 100%;
  background-size: cover;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px 6px 0px 0px;
  opacity: 0.9;
  object-fit: cover;
  min-width: 100%;
}


.row-index {
  margin-top: 100px;

}
// .book-name-index {
//     text-align: center;
//     visibility: hidden;
//   }

//   .thumbnail:hover .book-name-index {
//   visibility: visible;
//   opacity: 1;
// }




