/* Main navbar */
.navbar-bookie {
  // background: #82D0E2;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  width: 100%;
  top: 0;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 9999;
}

/* Logo */
.navbar-bookie-brand img {
  height: 39px;
}

/* User Avatar */
.navbar-bookie .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-bookie-right {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: white;
    font-weight: lighter;
    font-family: 'Nunito', sans-serif;
    font-size: 19px;
  }

  a:hover {
    border-bottom: 3px solid white;
    padding-bottom: 3px;
    color: white;
  }
}

/* Basic navbar item */
.navbar-bookie-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-bookie-link {
  color: #616668;
  font-size: 14px;
}
.navbar-bookie-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-bookie-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-bookie-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-bookie-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-bookie-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
