.line {
  border-bottom: 1px solid #DBDBDB !important;
}

.reviews {
  display:flex;
}

.reviews-left {
  margin-right: 90px;
}

.review-header {
  font-weight: bold;
}

.average {
  display:flex;
  i {
    color:  #EDB867;
    margin-right: 5px;
  }
  float:right
}

.header-review {
  margin-top: 60px;
}
