.book-row {
  margin-top: 10%;
  border: none;
}

.list-facts {
  display: flex;
  justify-content: space-between;
  margin-left: 7px;
  margin-right: 7px;
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  margin-top: 7%;

  .fas {
    padding-right: 10px;
    color: #C7374B;
    opacity: 0.75;
  }

  p {
    font-size: 18px;
  }
}

.author-show {
  padding-left: 7%;

  h2{
    padding-bottom: 1px;
  }

  h3{
    padding-top: 1px;
  }
  p{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
  }
}

.photo-show img{
  display: block;
  background-size: cover;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  opacity: 0.8;
  object-fit: cover;
  min-width: 100%;
}
